In [ ]:
a = 'mahasiswa'

def test ():
    print ('jono adalah' + a)

def A():
    print (1 , a)

test a